/* Buttons and Text Styling with Custom Fonts */
.carousel__learn-more-button {
    font-family: 'Guardian Sans Medium', sans-serif;
    margin-top: 2em;
    padding: 10px 50px;
    background-color: #4169E1;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
  }
  
  .carousel__learn-more-button:hover {
    background-color: #4ca06f;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
  
  .carousel__title {
    font-family: 'Guardian Sans Bold', serif;
    font-size: 1.6rem; /* Slightly larger font size for title */
    color: #10375c;
    padding: 0.5em;
  }
  
  .carousel__description {
    font-family: 'Guardian Sans Light', serif;
    font-size: 1.2rem;
    color: #666; /* Lighter text color for descriptions */
  }