/* Carousel Main Styles */
.slider {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 70vh;
  margin: auto; /* Center the slider if necessary */
}

.slider-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.slide {
  min-width: 100%; /* Each slide takes up the full width of the carousel */
  transition: transform 0.5s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel__container {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 20px;
  width: 80%;
  max-width: 700px;
  text-align: center;
}

.carousel__image {
 
  height: 30vh;
  object-fit: contain;
}

/* Navigation Arrows */
.left-arrow, .right-arrow {
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  z-index: 10; /* Ensure arrows are clickable */
  cursor: pointer;
  color: #10375c;
  font-size: 3rem;
}

.left-arrow {
  left: 10px;
}

.right-arrow {
  right: 10px;
}

/* Buttons and Text Styling with Custom Fonts */
.carousel__learn-more-button {
  font-family: 'Guardian Sans Medium', sans-serif;
  margin-top: 2em;
  padding: 10px 50px;
  background-color: #4169E1;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.carousel__learn-more-button:hover {
  background-color: #4ca06f;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.carousel__title {
  font-family: 'Guardian Sans Bold', serif;
  font-size: 1.6rem; /* Slightly larger font size for title */
  color: #10375c;
  padding: 0.5em;
}

.carousel__description {
  font-family: 'Guardian Sans Light', serif;
  font-size: 1.2rem;
  color: #666; /* Lighter text color for descriptions */
}
