.slider {
  overflow: hidden;
  position: relative;
  background-color: white !important;
  width: 100%;
  height: 70vh;
  margin: auto; /* Center the slider if necessary */
}

.slider-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
}

.slide {
  min-width: 100%; /* Each slide takes up the full width of the carousel */
  transition: transform 0.5s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 20px;
  width: 80%;
  height: 70vh;
  max-width: 700px;
  text-align: center;
}

.carousel__image {
  width: 100%;
  height: 30vh;
  margin-bottom: 1em;
  object-fit: contain;
}

.left-arrow, .right-arrow {
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  z-index: 10; /* Ensure arrows are clickable */
  cursor: pointer;
  color: #10375c;
  font-size: 3rem;
}

.left-arrow {
  left: 10px;
}

.right-arrow {
  right: 10px;
}

.carousel__learn-more-button {
  margin-top: 2em;
  font-size: 1.2rem;
  background-color: #163caf;
  color: white;
  border: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.carousel__learn-more-button:hover {
  background-color: #059980;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
