.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  background-color: #252323; /* Changed to a black background */
  color: #fff; /* Text color set to white for all child elements */
}

.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px; /* Adjust the max width as needed */
  margin-bottom: 1rem; /* Space between content and copyright */
}

.footer__logo-container {
  display: flex;
  align-items: center;
}

.footer__logo {
  width: 80px; 
  margin-right: 1rem;
}

.footer__title {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5rem; 
  font-weight: bold; 
  margin: 0;
}

.footer__motto {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
  opacity: 0.8;
}

.footer__social-icons {
  display: flex;
}

.footer__social-link {
  margin: 0 1rem; 
}

.footer__social-icon {
  font-size: 2rem;
  color: rgb(239, 240, 243);
}

.footer__copyright {
  text-align: center;
  font-size: 0.9rem; 
  opacity: 0.8; 
}


@media (max-width: 768px) {
  .footer__content {
    flex-direction: column;
    align-items: center;
  }

  .footer__logo-container {
    margin-bottom: 1rem;
  }
  
  .footer__social-icons {
    justify-content: center;
  }
}
