.Homesection2_container{
    min-height: 40vh;
    margin: 1em 0em 1em 0em;
    background-color: #ffffff ;
    box-sizing: border-box;
}

.Homesection2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1em; 
}

.Homesection2__text {
    font-size: 2rem; /* Increased font size */
    font-weight: bold; /* Make the text bold */
    color: #204056; /* Slightly darker color for contrast */
    text-align: center;
    margin-bottom: 2em; /* Space between title and blocks */
    text-transform: uppercase;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.Homesection2_blocks {
    width: 17%; /* Adjust width to control block size */
    padding: 2em;
    text-align: center;
    background-color: white;
    border-radius: 10px; /* Rounded corners for cards */
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    transition: box-shadow 0.3s ease-in-out; /* Smooth transition for shadow */
}

.Homesection2_card_title {
    font-family: Lato, sans-serif;
    font-size: 1.5rem; /* Increased font size for titles */
    color: #00010f; /* Same color as section title for consistency */
    margin-top: 1em;
}

.Homesection2_blocks:hover {
    box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.2); /* Increased shadow on hover */
}

.icon-link{
    text-decoration: none;

}

/* Responsive design */
@media (max-width: 768px) {
    .Homesection2 {
        flex-direction: column;
    }

    .Homesection2_blocks {
        width: 80%; /* Full width blocks on smaller screens */
        margin-bottom: 1em; /* Space between blocks */
    }

    .Homesection2__text {
        font-size: 1.5rem; /* Slightly smaller font size for mobile */
    }
}

@media only screen and (max-width: 1500px) and (min-width: 1380px) {
    .Homesection2_blocks {
        padding: 1.5em; /* Adjust padding for space efficiency */
    }

    .Homesection2__text {
        font-size: 1.8rem; /* Adjust font size to fit intermediate screens */
    }

    .Homesection2_card_title {
        font-size: 1.4rem; /* Slightly smaller to fit reduced card sizes */
    }
}

@media only screen and (max-width: 1379px) {
    .Homesection2_blocks {
        padding: 1.0em; /* Adjust padding to maintain proportion */
    }

    .Homesection2__text {
        font-size: 1.6rem; /* Reduce font size for better fit on screen */
   
    }

    .Homesection2_card_title {
        font-size: 1.1rem; /* Slightly reduce font size */
    }
}

