/* Import Normalize.css and Google Fonts */
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');



.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar__logo-title {
  width: 100%;
  display: flex;
  align-items: center;
  background: #F5F5F7;
  padding: 1em; /* Add some padding */
  font-family: 'Open Sans', sans-serif;
}

.navbar__logo {
    width: 6em;
    margin-right: 1em;
    margin-left: 5em;
}

.navbar__title-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

.navbar__title {
    font-size: 2rem;
    color: navy;
    margin-left: 1rem;
}

.navbar__motto {
flex: 1;
font-family: 'Montserrat', sans-serif;
font-size: 1rem;
font-weight: bold;
text-transform: uppercase;
font-style: italic;
letter-spacing: 0.2rem;
text-align: center;
color: #015049;}

.navbar__menu {
    width: 100%;
    background-color: navy;
    text-align: center;
}

.navbar__menu-list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.navbar__menu-item {
    margin: 0.5em;
}

.navbar__menu-link {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.9rem;
    text-transform: uppercase;
    padding: 0.6em;
    transition: all 0.2s ease-in-out;
    font-family: 'Open Sans', sans-serif;
}

.navbar__menu-link:hover {
  padding: 0.6em;
    color: #053d7c;
    background-color: white;
}


@media only screen and (max-width: 1500px) and (min-width: 1380px) {
  
  .navbar__logo {
      width: 4.0rem; /* smaller logo for smaller screens */
  }

  .navbar__title {
      font-size: 1.3rem; /* smaller font size for smaller screens */
      margin: 0.2rem; /* reduced margin */
  }

  .navbar__motto {
      font-size: 0.7rem; /* smaller motto font size */
  }

  .navbar__menu-item {
      margin: 0.4em; /* increase vertical spacing */
  }

  .navbar__menu-link {
      font-size: 0.7rem; /* smaller font size for menu items */
      padding: 0.8em; /* adjusted padding */
  }

  .navbar__menu-link:hover {
    color: #053d7c;
    background-color: white;
    padding: 0.8em;
}

}

@media only screen and (max-width: 1379px) {


    .navbar__logo {
        width: 3.5rem; /* smaller logo for smaller screens */
    }
  
    .navbar__title {
        font-size: 1.3rem; /* smaller font size for smaller screens */
        margin: 0.2rem; /* reduced margin */
    }
  
    .navbar__motto {
        font-size: 0.6rem; /* smaller motto font size */
    }
  
    .navbar__menu-item {
        margin: 0.3em; /* increase vertical spacing */
    }
  
    .navbar__menu-link {
        font-size: 0.7rem; /* smaller font size for menu items */
   
    }
  
    .navbar__menu-link:hover {
      color: #053d7c;
      background-color: white;
    
  }





}

/* 
@media only screen and (max-width: 1500px) and (min-width: 1380px){

} 
@media only screen and (max-width: 1250px){


} */
