.photo-section-container {
  background-color: #ffffff;
  text-align: center;
  padding: 50px 0; /* Adds some padding around the section */
}

.photo-section {
  position: relative;
  width: 80vw;  /* Limit width to better fit various devices */
  max-width: 1200px; /* Maximum width to prevent overly large images on big screens */
  height: 80vh;
  margin: 0 auto; /* Center the section horizontally */
  overflow: hidden; /* Hide overflow */
}

.photo-section__frame {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* Ensures caption is at the bottom */
  align-items: center;
  transition: opacity 1s ease-in-out, transform 1s ease;
  opacity: 0;
  transform: scale(0.95); /* Slightly scaled down when inactive */
}

.photo-section__frame.active {
  opacity: 1;
  transform: scale(1); /* Active frame scales to normal */
  z-index: 2; /* Keeps active frame on top */
}

.photo-section__image {
  width: 100%;
  height: calc(100% - 40px); /* Subtract height of the caption */
  object-fit: cover; /* Ensure cover fit without distorting */
}

.photo-section__caption {
  width: 100%;
  background-color: #000; /* Dark background for readability */
    color: #fff;
    padding: 1rem;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1.1rem;
    font-weight: 300; /* Lighter font-weight for a modern touch */
    letter-spacing: 1px;
    transition: all 0.5s ease-in-out;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Shadow to lift the caption */
}

.photo-section__heading {
  font-size: 2.5rem;
  font-family: 'Arial', sans-serif;
  font-weight: 600;
  color: #003366;
  margin-bottom: 1rem; /* Space below heading */
  padding: 0.5rem 2rem;
  background-color: #fff;
  display: inline-block;
  border-radius: 25px; /* Rounded edges for a modern look */
  box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  transform: translateY(-50%); /* Lift the heading up to merge with the photo section */
  z-index: 3; /* Above the photo frames */
  position: relative; /* Necessary to lift the heading */
}

/* Responsive Adjustments */
@media (max-width: 1500px) {
  .photo-section__heading {
      font-size: 2rem; /* Smaller font size for smaller screens */
  }

  .photo-section__caption {
      font-size: 0.9rem;
  }
}

@media (max-width: 768px) {
  .photo-section {
      height: 50vh; /* Adjust height for mobile */
  }

  .photo-section__frame {
      width: 95vw; /* Slightly narrower frames on small screens */
  }

  .photo-section__caption {
      font-size: 1rem; /* Ensure readability on small devices */
  }

  .photo-section__heading {
      font-size: 1.8rem; /* Smaller heading on mobile */
      padding: 5px 15px; /* Less padding */
  }
}
