.photo-section-container{
    height: 100vh;
    background-color: #e6f3f3;
    text-align: center; /* Ensures the heading is centered */
    margin-bottom: 2rem; /* Spacing before the photo section starts */
}
.photo-section {
    position: relative;
    width: 100%;
    height: 90vh; /* Control the height of the photo section */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #e6f3f3; /* Soft background color */
  }
  
  .photo-section__frame {
    position: absolute;
    width: 70vw; /* Width relative to the viewport */
    height: 85vh;
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
    opacity: 0;
    transform: scale(0.8); /* Scale down the side images */
    bottom: 70px;
    
  }
  
  .photo-section__frame.active {
    opacity: 1;
    transform: scale(1); /* Bring the main image to normal size */
    z-index: 2; /* Keep the main image on top */
  }
  
  .photo-section__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 5px solid #fff; /* Add a prominent border */
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2); /* A deeper shadow for more depth */
  }
  
  .photo-section__caption {
    position: absolute;
    bottom: -1.5rem; /* Slightly below the image */
    width: calc(100% ); /* Adjust width based on border */
    text-align: center;
    background-color: #000; /* Dark background for the caption */
    color: #fff;
    padding: 1rem;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1.1rem;
    font-weight: 300; /* Lighter font-weight for a modern touch */
    letter-spacing: 1px;
    transition: all 0.5s ease-in-out;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Shadow to lift the caption */
  }
  
  
  .photo-section__heading {
    font-family: 'Arial', sans-serif;
    font-size: 2.5rem;
    font-weight: 600;
    color: #003366;
    margin-bottom: 1rem;
    display: inline-block;
    background-color: #fff; /* Light background for the heading */
    padding: 0.5rem 2rem;
    border-radius: 25px; /* Rounded edges for a modern look */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    transform: translateY(-50%); /* Lift the heading up to merge with the photo section */
    z-index: 3; /* Above the photo frames */
    position: relative; /* Necessary to lift the heading */
  }
  /* Responsive layout adjustments */
  @media (max-width: 768px) {
    .photo-section {
      height: 40vh; /* Smaller height for mobile */
    }
  
    .photo-section__frame {
      width: 90vw; /* Full width frames for better visibility */
    }
  
    .photo-section__caption {
      font-size: 1rem; /* Adjust font size for readability on mobile */
    }
    .photo-section__heading {
        font-size: 2rem;
        padding: 0.5rem 1.5rem;
        transform: translateY(-20%); /* Less lift on mobile to fit the smaller viewport */
      }
  }
  